<%= content_for(:title, "Sign Up") %>
<div class="call-to-action">
  <div class="jumbotron">
     <h1 class="firsthead"> Love locally sourced food? </h1>
     <h2 class="right"> Sun and Soil is your source </h2>

     <h2> Join now for updates! </h2>
     <h3><%= render "email" %></h3>


      <h3> Sun and soil is a community based company that helps local businesses source their food locally.
      By joining our mailing list, we will make sure you hear about the beta release and upcoming events we will be holding! </h3>

      <br><br>

      <br>

  </div>
</div>
<div class="first">
  <div class="jumbotron">
    <a name="about"></a>
     <h1> Keepin' it Fresh </h1><br>
      <h3> Sun and soil is a local Portland Startup that is working to create outragiously excellent local cuisine that supports the local community.</h3>
      <br>
      <span class="center">
      <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag "http://media.npr.org/assets/img/2012/07/25/tomatoes-f55973c9c7e2cfb66737e3ee185b3bbab57dcd5c-s6-c30.jpg" %>
    </a>
  </div>
</div>
</span>

      <br>
      <h3> We are looking for companies that are interested in giving back to the community and participating in the sustainable agricultural movement. </h3>
      <br>
      <br>
      <h2 class="white"> We bring you local food </h2>
  </div>
</div>

<div class="second">
  <div class="jumbotron">
    <a name="second"></a>
     <h1> Products </h1>
      <p> Our current seasonal product inspired by the Portland community is: </p>
      <br>
      <hr>
      <br>
        <ul>
          <li>
            <h3 class="white"> Salsa NW ~ The Burnside Burn</h3>
          </li>
        </ul>
<br>
        <h2> Monthly Subscription <h2>

          <ul>
            <li>   Price: $40.00    |    Feeds: 8-10   </li><br>
            <li>   Price: $80.00    |    Feeds: 20-30   </li><br>
            <li>   Price: Custom    |            <a href="#fourth" class="black">Contact Us</a>
  </li><br>

          </ul>

  </div>
</div>

<div class="third">
  <div class="jumbotron">
    <a name="third"></a>
     <h1> Local </h1>
      <h3>
      By connecting with local farmers and buying directly, we help minimize waste while helping our community here survive. </h3>
      <br>
      <ul>
        <%= image_tag "http://blog.oregonlive.com/environment_impact/2008/05/large_hood%20river%20valley.jpg", :class => "center" %>
        <br>
      <h2 class="right"> Bringing jobs home </h2>


  </div>
</div>

<div class="join">
  <div class="jumbotron">
    <h2> Support the community and enjoy healthy food </h3>
     <h3> <%= render "email" %> </h3>
  </div>
</div>

<div class="footer">
  <div class="jumbotron">
    <a name="fourth"></a>
     <h2> Contact </h2>
      <h5> Email: <a href="#fourth"> Sunnsoil@gmail.com </a></h5>
      <h5 class="left"> Follow us on <a href="https://twitter.com/SunnSoilNW">  Twitter</a></h5>
  </div>
</div>

